eventMarkersOn=true,resetEvents=false,Raven Male=true,Gabby Female=true,Jade Male A=true,Jade Male B=true,Jade Male C=true,FlyerChoppers=true,Police=true,Spiffo=true,IRS=true,Aliens=true,FratAliens=true,Numpad1=UFO,twitchIntegrationOnly=false,Numpad2=military,Numpad3=NONE,Numpad4=NONE,Numpad5=NONE,Numpad6=NONE,Numpad7=NONE,Numpad8=NONE,Numpad9=NONE,